/* Giới thiệu */
.gioi_thieu{
  background-image: url(./../../images/canvas/gioithieu.1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gioi_thieu_1{
  background-image: url(./../../images/canvas/gioithieu.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HỒNG VÂN */
.team1_1_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/hong_van/van_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TẠ YẾN */
.team1_2_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/ta_yen/yen_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ÁI THI  */
.team1_3_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/ai_thi/thi_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* MỸ DUYÊN  */
.team1_4_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/my_duyen/duyen_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* DIỆU THÚY */
.team1_5_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/dieu_thuy/thuy_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CẨM THU */
.team1_6_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/cam_thu/thu_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* KHÁNH NGÂN */
.team1_7_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/khanh_ngan/ngan_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* THÙY TRANG */
.team1_8_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/thuy_trang/trang_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* DUY BẢO */
.team1_9_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Duy_Bao/bao_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* KIM THOA */
.team1_10_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/kim_thoa/thoa_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* TUYẾT TRINH */
.team1_11_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Tuyet_Trinh/trinh_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* PHAN THÚY */
.team1_12_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/phan_thuy/thuy_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* MINH THƯ */
.team1_13_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/minh_thu/thu_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HUỲNH NHƯ */
.team1_14_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/huynh_nhu/nhu_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* PHẠM THỊ HUỲNH NHƯ */
.team1_15_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/pham_huynh_nhu/nhu_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* PHƯƠNG LY */
.team1_16_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/phuong_ly/ly_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* KIM LÚC */
.team1_17_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/kim_luc/luc_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* THANH TÙNG */
.team1_18_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/thanh_tung/tung_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* MỸ LINH */
.team1_19_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/My_Linh/linh_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HỒNG NHI */
.team1_20_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Hong_Nhi/nhi_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* MINH NGỌC */
.team1_21_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/minh_ngoc/ngoc_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* THẾ HỒNG */
.team1_22_1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/the_hong/hong_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}