.background_chung {
  background-image: url(./../../images/canvas/bg_text.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-first {
  background-image: url(./../../images/canvas/STQL_ebook-01.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-end {
  background-image: url(./../../images/canvas/STQL_ebook-10.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
