/* NHẤT VY*/
.gt-1-1 {
  background-image: url(./../../images/canvas/1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gt-1-2 {
  background-image: url(./../../images/canvas/2.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* NHẤT VY*/
.btc-1-1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/nhat_vy/vy.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* QUỲNH LÝ */
.btc-2-1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/quynh_ly/quynh.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}