/* A Si */
.btc-1-1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Persi/asi_3.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btc-1-2 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Persi/asi_2.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btc-1-3 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Persi/asi_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btc-1-4 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Persi/asi_4.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* THU THẢO */
.btc-2-1 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Thu_Thao/Thao_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btc-2-2 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Thu_Thao/Thao_2.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btc-2-3 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Thu_Thao/Thao_3.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btc-2-4 {
  background-image: url(./../../images/canvas/Ban_To_Chuc/Thu_Thao/Thao_4.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}