/* GIỚI THIÊỤ */
.gt-1-1 {
  background-image: url(./../../images/canvas/1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gt-1-2 {
  background-image: url(./../../images/canvas/2.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* MINH */
.btc-1-1 {
  background-image: url(./../../images/canvas/to_minh/an.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HỮU NGÂN */
.btc-2-1 {
  background-image: url(./../../images/canvas/long_an/ngan.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* KHÁNH VY */
.btc-3-1{background-image: url(./../../images/canvas/khanhvy/vy.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* NHẤT VY */
.btc-4-1{background-image: url(./../../images/canvas/nhatvy/vy.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* NGỌC GIÀU */
.btc-5-1{background-image: url(./../../images/canvas/ngoc_giau/giau.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* DIỆU THÚY */
.btc-6-1{background-image: url(./../../images/canvas/dieu_thuy/thuy_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* PHƯƠNG LY */
.btc-7-1{background-image: url(./../../images/canvas/phuong_ly/ly_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ĐÔ MY */
.btc-8-1{background-image: url(./../../images/canvas/do-my/do_mi.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HUỲNH NHƯ */
.btc-9-1{background-image: url(./../../images/canvas/huynh_nhu/nhu_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* THẾ HỒNG */
.btc-10-1{background-image: url(./../../images/canvas/the_hong/hong_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* TUYẾT TRINH */
.btc-11-1{background-image: url(./../../images/canvas/Tuyet_Trinh/trinh_1.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
